* text=auto eol=lf

[attr]lfs-attr filter=lfs diff=lfs merge=lfs -text

*.rs        text eol=lf
*.toml      text eol=lf
*.md        text eol=lf
*.sh        text eol=lf

*.png       binary
*.jpg       binary
